
body {
    background: #f0f0f0;
    padding: 1%;
}

.bord {
    background: #fafafa;
    text-align: left;
    padding: 0.15%;
    margin: 1%;
    border: 1px solid #fff;
}

button {
    border: 1px solid #c8c8c8;
    background: #DDD;
}

.button {
    text-align: center;
    border: 1px solid #c8c8c8;
    margin: 0.1% 0% 0.1% 0.1%;
    width: 13%;
}

.searchLine {
    background: #fff;
    border: 1px solid #c8c8c8;
    width: 80%;
    margin: 0.75%;
}

.noteBorder {
    background: #fafafa;
    text-align: left;
    padding: 0.15%;
    border: 1px solid #fff;
    width: 95%
}

.noteDataBorder {
    background: #fafafa;
    text-align: left;
    padding: 0.15%;
    border: 1px solid #fff;
    width: 25%
}

.head {
    display: block;
    margin: auto;
    width: 80%;

    height: 30px;
}

.head a {
    float: right;
}

.head a:hover {
    color: #FF8E00;
}
