
body {
    background: #f0f0f0;

    margin: 20px 100px;
}

.materialBlock {
    background: white;

    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bord {
    background: #fafafa;
    border: 1px solid #fff;

    padding: 5px;

    height: 50px;

    margin: 20px;

}

button {
    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    margin: 10px;

    background-color: #FF8E00;
    color: #ecf0f1;
    text-align: center;

    height: 40px;
}

.button {
    width: 13%;

    height: 30px;
}

.searchLine {
    background: #fff;
    border: 1px solid #c8c8c8;
    width: 80%;

    outline: none;

    margin: 10px;
    height: 60%;
    font-size: 120%;

}

.searchLine:focus {
  border: 1px solid #ff8E00

}

.noteBorder {
    background: #fafafa;
    text-align: left;
    padding: 5px;
    border: 1px solid #fff;
    width: 95%
}

.noteDataBorder {
    background: #fafafa;
    text-align: left;
    padding: 0.15%;
    border: 1px solid #fff;
    width: 25%
}

.head {
    display: block;
    margin: auto;
    width: 80%;

    height: 30px;
}

.head a {
    float: right;
}

.head a:hover {
    color: #FF8E00;
}

.main {
    width: 30%;

    margin: 20px;
}

.TitleName {
    width: 30%;
    text-align: center;
    font-size: 20pt;
}

.webSearchResult {
    margin: 10px;
    padding: 10px;
    font-weight: normal;
}

.webSearchResult .header {
    display: block;
    font-size: 120%;
    margin: 5px;
    font-weight: bold;
}

.resultTable {
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    
}
