
.main {
    width: 70%;

    display: block;
    margin: auto;

    font-size: 18px;
}

.note {
    background: white;
    padding: 30px;
    margin: 20px;
}

.noteText{
    display: block;
    margin: 10px;

}

.noteDate {
    display: block;
    float: right;
}

.inputWrapper {
    width: 90%;

    margin: auto;
    display: block;
}

.inputWrapper .noteInputWrapper {
    width: 80%;
    height: 100px;

    margin: 10px;

    display: inline-block;
}

.inputWrapper .noteInputWrapper textarea{
    width: 100%;
    height: 100%;

}

.inputWrapper .noteButtonWrapper{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    
}
